<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>  
    <section name="ApplicationSettings" type="System.Configuration.NameValueSectionHandler"/>      
  </configSections>  

  <appSettings>  
    <add key="API_KEY" value="YR9XIT6K57023G9W"/>
    <!--<add key="API_KEY" value="demo"/>-->
    <add key="EMAIL_SENDER" value=""/>
    <add key="EMAIL_PASSWORD" value=""/>
    <add key="EMAIL_RECIPIENT" value=""/>
    <add key="SMTP_CLIENT" value="smtp.gmail.com"/>
  </appSettings>  
</configuration>
